body{
	background-color: #C8C8C8 ;
}
.container{
	padding-top:3%;
}
img{
  display: block;
  padding-top:5%;
  margin: auto;
}
.h1{
	padding-top:25%;
    font-family: Navis,Times New Roman,red serif, Times, serif;

}
hr{
	border-width: 3px;

}
.h3{
	font-family: Navis,Times New Roman,red serif, Times, serif;
}
#About{
	margin-top:-3;
}
.glyphicon-chevron-down{
	margin-left: 50%;
}
