body{
	background-color: #C8C8C8 ;
}
.container{
	padding-top:3%;
}
img{
  display: block;
  padding-top:5%;
  margin: auto;
}
.h1{
	margin:auto;
    font-family: Navis,Times New Roman,red serif, Times, serif;

}