
.navbar-header {
	width: 100%;
	background-color:white;
	height:100px;
	padding-top:1%;
}

.navbar-toggle{
        display:block!important;
    }
.navbar-collapse.collapse.in{
        display:block!important;    
        height:auto!important;
    }
.navbar-collapse.collapse{
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
.navbar-toggle.collapsed{
        display:block!important;    
    }
.h3{
		font-family: Navis,Times New Roman,red serif, Times, serif;
	}
.glyphicon-envelope{
	font-size: 3em;
}
.navbar{
	margin-bottom:10%;
}
